.header {
    display: flex;
    background-image: url("../img/background-image.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav-links {
    display: none;
}

.header__image {
    display: flex;
}

.header__image-logo {
    width: 186px;
    height: 58px;
}

.header__social-media {
    display: none;
}

.header-banner {
    display: flex;
    flex-direction: column;
}

.header-banner__title {
    color: white;
    text-align: center;
}

@media (min-width: 700px) {
    .header {
        display: block;
    }

    .header__nav-box {
        display: flex;
    }

    .header__nav {
        display: flex;
    }

    .header__nav-links {
        display: flex;
        flex-direction: row;
    }

    .header__social-media {
        display: flex;
        flex-direction: row;
    }
}