.header {
    display: flex;
    background-image: url("../img/background-image.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__image {
    display: flex;
}

.header__image-logo {
    width: 186px;
    height: 58px;
}

.header-banner {
    display: flex;
    justify-content: center;
}

.header-banner__title {
    color:
    text-align: center;
}