.testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}

.testimonials__button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.testimonials__button-btn {
    display: flex;
    width: 236px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    background: var(--Primary, #2091F9);
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}