.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 188px;
}

.features__title {
    margin-top: 80px;
    color: var(--text, #252B42);
    text-align: center;
    font-family: Graphik, Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.features__description {
    color: #374754;
    text-align: center;
    font-family: Graphik, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding-top: 27px;
    margin-bottom: 60px;
}

.features__screen {
    margin-bottom: 60px;
}

.features__cards {
    display: flex;
    flex-direction: column;
    gap: 75px
}

.features__card {
    display: flex;
    flex-direction: column;
    max-width: 231px;
    text-align: center;
    gap: 20px;
}

.features__card-image {
    display: block;
    width: 61px;
    height: 61px;
    margin-bottom: 20px;
}

.features__card-title {
    color: var(--text, #252B42);
    text-align: center;
    font-family: Graphik, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.features__card-description {
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Graphik, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__description {
    display: flex;
    text-align: center;
}

.features__card {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.features__card-image {
    display: flex;
    margin: auto;
    width: 61px;
    height: 61px;
}

.features__card-title {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.features__card-description {
    display: flex;
    text-align: center;
}

@media (max-width: 767px) {
    .features__video-screen {
        display: flex;
        visibility: hidden;
        height: 0;
    }

    .features__columns {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (min-width: 768px) {
    .features {
        margin-bottom: 200px;
    }

    .features__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 52px;
    }

    .features__card {
        display: flex;
        margin: 0;
    }

    .features__screen {
        visibility: hidden;
        height: 0;
    }

    .features__title {
        margin-top: 170px;
    }
}