.prototyping {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 180px;
}

.prototyping__description {
    color: var(--text, #252B42);
    font-family: Graphik, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    margin-bottom: 17px;
}

.prototyping__title-first,
.prototyping__title-second {
    color: var(--text, #252B42);
    font-family: Graphik, Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.prototyping__title-description {
    color: var(--second-text, #374754);
    font-family: Graphik, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    margin-bottom: 79px;
}

.prototyping__titles {
    margin-bottom: 27px;
}

.prototyping__form-title {
    color: var(--text, #252B42);
    font-family: Graphik, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.prototyping__form-description {
    color: var(--second-text, #374754);
    font-family: Graphik, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-bottom: 34px;
}

.prototyping__form-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 60px;
}

.prototyping__form-email {
    display: flex;
    padding: 19px 35px;
    align-items: flex-start;
    gap: 47px;
    border-radius: 39px;
    border: 2px solid #E8E8E8;
    background: #F4F4F4;
    font-family: Graphik, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.prototyping__form-button {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 2px solid var(--Primary, #2091F9);
    background: var(--Primary, #2091F9);
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-family: Graphik, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 28px;
    letter-spacing: 0.1px;
    transition:  background-color .2s ease-in-out;
}

.prototyping__form-button:hover {
    background: var(--Primary, #FFF);
    color: var(--Primary, #2091F9);
    border: 2px solid var(--Primary, #2091F9);
}

@media (max-width: 767px) {
    .prototyping__title-second {
        visibility: hidden;
        height: 0;
    }
}

@media (min-width: 768px) {
    .prototyping {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
        margin-right: 145px;
    }

    .prototyping__info {
        max-width: 478px;
    }

    .prototyping__title-first {
        visibility: hidden;
        height: 0;
    }

    .prototyping__info {
        margin-top: 60px;
    }

    .prototyping__text {
        text-align: start;
        
    }

    .prototyping__title-description {
        visibility: hidden;
        height: 0;
        margin-bottom: 0;
    }

    .prototyping__form {
        text-align: start;
        
    }

    .prototyping__form-items {
        display: flex;
        flex-direction: row;
    }

    .prototyping__form-email {
        max-width: 270;
    }

    .prototyping__form-button {
        width: 200px;
    }
}