.header {
    display: flex;
    background-image: url("../img/background-image.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 920px;

}

.header__main {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.header__nav-links {
    display: none;
}

.header__image {
    width: 206px;
    padding: 0 10px;
}

.header__social-media {
    display: none;
}

.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 826px;
    margin-top: 90px;
}

.header-banner__title {
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Graphik, Arial, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.header-banner__description {
    color: var(--Light-text, #FFF);
    text-align: center;
    font-family: Graphik, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding-top: 27px;
}

.header-banner__button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.header__button {
    display: flex;
    width: 236px;
    padding: 16px 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 2px solid var(--Primary, #2091F9);
    background: var(--Primary, #2091F9);
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    transition: background-color .2s ease-in-out;
}

.header__button:hover {
    background: var(--Primary, #FFF);
    color: var(--Primary, #2091F9);
    border: 2px solid var(--Primary, #2091F9);
}






@media (max-width: 767px) {
    .header__nav-box-second {
        visibility: hidden;
        height: 0;
    }

    .body.lock {
        overflow: hidden;
    }

    .navigation-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        padding: 12px;
        cursor: pointer;
        z-index: 5;
    }

    .navigation-burger span,
    .navigation-burger::before,
    .navigation-burger::after {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--Light-text, #FFF);
        transition: all 0.5s ease-in-out;
    }

    .navigation-burger span {
        transform: scale(1);
    }

    .navigation-burger::before,
    .navigation-burger::after {
        content: " ";
    }

    .navigation-burger::before {
        top: 0;
    }

    .navigation-burger::after {
        bottom: 0;
    }

    .navigation-burger.active span {
        transform: scale(0);
    }

    .navigation-burger.active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .navigation-burger.active::after {
        bottom: 40%;
        transform: rotate(45deg);
    }

    .navigation-wrapper {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 95%;
        z-index: 2;
        transition: top 0.3s ease-in;
        padding: 15px 24px 50px 24px;
        transition: top 0.3s ease-in 0.1s;
        overflow: hidden;
        margin: auto;
    }

    .navigation-wrapper.active {
        top: 0;
    }

    .header__nav.active {
        top: 0;
    }

    .header__nav-links {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;
        list-style-type: none;
    }

    .header__nav-link {
        text-decoration: none;
        color: var(--Light-text, #FFF);
        font-family: Graphik, Arial, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.2px;
        padding-top: 27px;
    }

    .header__social-media {
        position: relative;
        font-size: 0.92rem;
        font-weight: 700;
        line-height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: auto;
        z-index: 10;
        padding-top: 100px;
        list-style-type: none;
    }

    .header__image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        z-index: 10;
        padding: 0 25px;
    }




}






@media (min-width: 768px) {
    .header__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 53.5px;
    }

    .header__nav-box-first {
        visibility: hidden;
        height: 0;
    }

    .header__nav-box-second {
        display: flex;
        justify-items: flex-start;
    }

    .header__nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 60px;
        align-items: center;

    }

    .header__nav-links {
        display: flex;
        gap: 41px;
        list-style-type: none;
        padding-right: 41px;
    }

    .header__nav-link {
        text-decoration: none;
        color: var(--Light-text, #FFF);
        text-align: center;
        font-family: Graphik, Arial, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.2px;
    }

    .header__image {
        width: 206px;
        padding: 0;
    }

    .header__social-media {
        display: flex;
        gap: 24px;
        list-style-type: none;
        padding-left: 60px;

    }

    .header-banner {
        margin-top: 140px;
    }

    .header-banner__title {
        font-weight: bold;
        font-size: 74px;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0.2px;
        max-width: 826px;
        width: 100%;
    }

    .header__icon-bar {
        display: none;
    }
}